<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %> | Story App</title>
  </head>
  <body>
    <header>
      <nav-bar></nav-bar>
    </header>

    <main>
      <div class="main-content">
        <div class="container py-5">
          <div
            id="alertError"
            class="alert alert-dark d-none"
            role="alert"
          ></div>
          <h1 class="mb-3">Add Story</h1>
          <form class="row g-3" id="addRecordForm" novalidate>
            <div class="col-12 col-md-6">
              <label for="validationCustomImage" class="form-label"
                >Upload Photo</label
              >
              <div style="width: 100%; height: 15rem" class="mb-3">
                <div
                  class="w-100 h-100 text-bg-secondary"
                  style="
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                  "
                  id="validationCustomImageImgChange"
                ></div>
              </div>
              <input
                type="file"
                class="form-control"
                id="validationCustomImage"
                accept="image/*"
                required
              />
              <div class="invalid-feedback">Required</div>
            </div>

            <div class="col-12 col-md-6">
              <label for="validationDescription" class="form-label"
                >Description</label
              >
              <textarea
                class="form-control"
                id="validationDescription"
                rows="3"
                required
              ></textarea>
              <div class="invalid-feedback">Required</div>
            </div>

            <div class="col-12 text-end">
              <button class="btn btn-dark" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <div class="main-footer bg-dark">
        <div class="container px-3 py-4">
          <footer-app></footer-app>
        </div>
      </div>
    </footer>
  </body>
</html>
